<div class="title-welcome">
<h2>Welcome to FlatBnB</h2>
</div>


<div class="welcome-text">
  <p>" Top-rated places to stay. Explore some of the best-reviewed stays in the world."</p>
</div>



<div class="container">
  <div class="container-form">
  <%= form_tag flats_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder:  "Where do you wanna go ? "
    %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary d-none" %>
      <% end %>
    </div>

<!-- HOST PAGE  -->

<% if !current_user.nil? && current_user.host %>
  <h3 style=" color: #666666; border-radius: 5px; font-size: 1.25rem; background: none;">These are your flats</h3>
  <div class="card-trip">

    <% @host_flats.each do |flat| %>
        <% if flat.photos.empty? %>
          <img src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
        <% else %>
          <%= cl_image_tag flat.photos[0].key %>
        <% end %>
        <div class="card-trip-infos">
            <div>
              <h2 id="card-trip-city"><%= flat.city.name %></h2>
              <h2 id="card-trip-flat"><%= link_to flat.name.capitalize, flat_path(flat)%></h2>
            </div>
              <p class="card-trip-pricing"> <bold><%=flat.price_per_night%> $ </bold> / night </p>
          </div>
    <% end %>
  </div>
<% else %>


<!-- DEFAULT AND USER PAGE -->


  <div class="container-fluid">
      <% if @result_arr.present? %>
      <div class="city-text">
          <h5>Find your dream place in <%= @queried_city %></h5>
          <p>There are <%= @result_arr.count %> available flats in <%=@queried_city%></p>
      </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner row w-100 mx-auto">
            <% @result_arr.each_with_index do |flat, index| %>
              <div class="carousel-item col-md-12 <%= index == 0 ? "active" : "" %>">
                <div class="card-carousel">
                  <%= cl_image_tag flat.photos[0].key, height: 80, class: "card-img-top img-fluid" %>
                  <div class="card-body">
                    <div class="city-name">
                      <%= flat.city.name %>
                    </div>
                    <div class="card-title d-flex justify-content-between">
                      <div> <%= link_to flat.name.capitalize, flat_path(flat)%></div>
                      <div class="price_per_night"><strong><%= flat.price_per_night %>$</strong>/night
                      </div>
                    </div>
                  </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
        </div>
      <% end %>
  </div>

      <% @results.each do |city_name , flats| %>
          <div class="city-text">
            <h5>Find your dream place in <%= city_name %></h5>
            <p>There is <%=flats.count%> available flats in <%= city_name %></p>
          </div>
        <div id="carousel<%= city_name %>" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner row w-100 mx-auto">
            <% flats.each_with_index do |flat, index| %>
              <div class="carousel-item col-md-4 <%= index == 0 ? "active" : "" %>">
                <div class="card-carousel">
                  <%= cl_image_tag flat.photos[0].key, class: "card-img-top img-height" %>
                <div class="card-body">
                  <div class="city-name">
                    <%= flat.city.name %>
                  </div>
                  <div class="card-title d-flex justify-content-between">
                    <div>
                      <%= link_to flat.name.capitalize, flat_path(flat)%>
                    </div>
                      <div class="price_per_night">
                        <strong><%= flat.price_per_night %>$/night</strong>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <a class="carousel-control-prev" href="#carousel<%= city_name %>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel<%= city_name %>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

      <% end %>
      </div>
  </div>
  <% end %>























