  <div class="header fixed-top">
    <%= link_to flats_path do %>
      <p class="back-buton"><i class="fas fa-arrow-left"></i></p>
    <% end %>
  </div>
  <%= cl_image_tag @flat.photos[0].key, class: "flat-image" %>
  <!-- <img class="flat-image" src="https://images.unsplash.com/photo-1565330502541-4937be8552e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt=""> -->
<div class="container">
  <div class="flat-name">
    <h1 class="flat-name-text"><%= @flat.name.capitalize %></h1>
  </div>

  <div class="flat-name">
    <p class="flat-text">Entire House in <%= @flat.city.name %></p>
  </div>

  <div class="d-flex justify-content-start">
    <p class="flat-text-info"><%= @flat.number_of_guests %> guests</p>
    <p class="flat-text-info"><%= @flat.type_of_flat %></p>
    <p class="flat-text-info">1 bed</p>
    <p class="flat-text-info">1 bedroom</p>
  </div>

  <div class="description">
    <p><%= @flat.description %></p>
  </div>

  <div class="sections">
    <div class="d-flex">
      <i class="fas fa-tools amenity-logo"></i><h1 class="flat-name-text">Amenities</h1>
    </div>
    <div class="row ">
      <% @flat.amenities.each do |amenity| %>
        <div class="col-6 amenity"><%= amenity.name %> </div>
      <% end %>
    </div>
  </div>

  <div class="sections">
    <div class="d-flex">
      <i class="fas fa-map-marked-alt amenity-logo"></i><h1 class="flat-name-text">Location</h1>
    </div>
    <p class="flat-text-info"><%= @flat.address_name %></p>

      <div id="map" style="width: 100%; height: 250px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API'] %>">

      </div>



    <div>

    </div>

  </div>

   <div class="sections">
    <div class="d-flex">
      <i class="fas fa-address-card amenity-logo"></i><h1 class="flat-name-text">Your Host</h1>
    </div>
      <div class="d-flex">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
        <p class="host-name"><%= @flat.user.first_name.capitalize %> <%= @flat.user.last_name.capitalize %></p>
      </div>
  </div>

   <div class="sections">
    <div class="d-flex">
      <i class="fas fa-user-edit amenity-logo"></i><h1 class="flat-name-text">Reviews</h1>
      <%= link_to new_flat_review_path(@flat, @review) do %>
        <p class="btn btn-primary review-buton">Add Review</i></p>
      <% end %>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-column-reverse">
        <% @flat.reviews.each do |review|  %>
          <div>
            <div class="review"><%= review.comment %></div>
            <div><%= review.rating %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="space-for-bar"></div>
  <div class="header d-flex justify-content-around fixed-bottom p-2">
    <div class="container d-flex reserve-info">
      <p class="pernight">$<%=@flat.price_per_night %></p>
      <p class="no-left"> / night</p>
    </div>
    <%= link_to new_flat_booking_path(@flat, @booking) do %>
      <p class="btn btn-primary reserve-buton">Reserve</i></p>
    <% end %>
  </div>
</div>

