<div class="header fixed-top">
  <%= link_to flats_path do %>
    <p class="back-buton"><i class="fas fa-arrow-left"></i></p>
  <% end %>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <% (@flat.photos.length - 1).times do %>
      <% counter = 1 %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%= counter %>"></li>
      <% counter += 1 %>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @flat.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
          <%= cl_image_tag photo.key, class: "flat-image"%>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, class: "flat-image"%>
        </div>
      <% end %>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <!-- <img class="flat-image" src="https://images.unsplash.com/photo-1565330502541-4937be8552e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt=""> -->
<div class="container">

  <div class="d-flex justify-content-between">
    <div class="flat-name">
      <h1 class="flat-name-text"><%= @flat.name.capitalize %></h1>
    </div>

    <div class="flat-name d-flex">
      <i class="fas fa-star mb-0 star flat-name mt-2"></i>
      <p class="flat-name"> <%= @review_average %> (<%= @total_reviews %>)</p> </div> </div>

  <div class="flat-name">
    <p class="flat-text">Entire House in <%= @flat.city.name %></p>
  </div>

  <div class="d-flex justify-content-start">
    <p class="flat-text-info"><%= @flat.number_of_guests %> guests</p>
    <p class="flat-text-info"><%= @flat.type_of_flat %></p>
    <p class="flat-text-info">1 bed</p>
    <p class="flat-text-info">1 bedroom</p>
  </div>

  <div class="description">
    <p><%= @flat.description %></p>
  </div>

  <div class="sections">
    <div class="d-flex">
      <i class="fas fa-tools amenity-logo"></i><h1 class="flat-name-text">Amenities</h1>
    </div>
    <div class="row ">
      <% @flat.amenities.each do |amenity| %>
        <div class="col-6 amenity"><%= amenity.name %> </div>
      <% end %>
    </div>
  </div>

  <div class="sections">
    <div class="d-flex">
      <i class="fas fa-map-marked-alt amenity-logo"></i><h1 class="flat-name-text">Location</h1>
    </div>
    <p class="flat-text-info"><%= @flat.address_name %></p>

      <div id="map" style="width: 100%; height: 250px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API'] %>">

      </div>



    <div>

    </div>

  </div>

   <div class="sections">
    <div class="d-flex">
      <i class="fas fa-address-card amenity-logo"></i><h1 class="flat-name-text">Your Host</h1>
    </div>
      <div class="d-flex">
                <%= cl_image_tag @flat.user.photo.key, class: "avatar-large" %>
        <p class="host-name"><%= @flat.user.first_name.capitalize %> <%= @flat.user.last_name.capitalize %></p>
      </div>
  </div>

    <div class="sections m-b-kenn">
      <div class="d-flex">
        <i class="fas fa-user-edit amenity-logo"></i><h1 class="flat-name-text">Reviews</h1>
        <% unless current_user.host %>
          <%= link_to new_flat_review_path(@flat, @review) do %>
            <p class="btn btn-primary review-buton">Add Review</i></p>
          <% end %>
        <% end %>
      </div>

    <div class="d-flex flex-column mt-2 border-bottom-solid borderwidth-1 border-color-grey">
      <% @flat.reviews.each do |review| %>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <%= cl_image_tag review.user.photo.key, class: "avatar-large" %>
            <div class="review-bold ml-3">
            <p class="mb-0"><%= review.user.first_name %> <%= review.user.last_name %></p>
            <p class="mb-0"><%= review.created_at.strftime('%d %b %Y') %></p>
            </div>
          </div>
          <div class="stars-inline">
            <% review.rating.to_i.times do  %>
             <p><i class="fas fa-star"></i></p>
            <% end %>
            <% (5 - review.rating.to_i).times do  %>
             <p><i class="far fa-star"></i></p>
            <% end %>
          </div>
        </div>
        <p class="mt-2"><%= review.comment %></p>
      <% end %>
    </div>
    </div>

  <% unless current_user.host %>
    <div class="space-for-bar"></div>
    <div class="header d-flex justify-content-around fixed-bottom p-2">
      <div class="d-flex reserve-info">
        <p class="pernight">$<%= @flat.price_per_night %></p>
        <p class="no-left"> / night</p>
      </div>
      <%= link_to new_flat_booking_path(@flat, @booking) do %>
        <p class="btn btn-primary reserve-buton">Book now</i></p>
      <% end %>
    </div>
  <% end %>
</div>

<% @show_page = true %>
