<h1><%= @flat.name %></h1>

<p><%= @flat.description %></p>
<p>Price per night:<%= @flat.price_per_night %></p>
<p>Number of guests:<%= @flat.number_of_guests %></p>
<p>Address: <%= @flat.address_name %></p>
<p>Host: <%= @flat.user.first_name %> <%= @flat.user.last_name %></p>
<p>City: <%= @flat.city.name %></p>
