<div class="container background">
<div class="container Header-Border"><h1 class="Review-House-Rules"><strong>Leave a review</strong></h1></div>
  <div class="container">

  <div class="review-image">
    <%= cl_image_tag current_user.photo.key, class: "avatar-circle" %>
    <div class="review-intro">
    <p>Hey <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>! How was your trip at <%= @flat.name.capitalize %> ?  </p>
    </div>
  </div>


  <div class="tips">Leaving a review is helpful!</div>

  <%= simple_form_for [@flat, @review]  do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.button :submit ,class: "btn btn-primary font-weight-bold" %>
  <% end %>

  </div>
</div>

