<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!--    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>

    <% if user_signed_in? %>
      <div class="footer d-flex justify-content-around">
        <div class="footer-links ">
          <a href="#"><i class="fas fa-user-circle"></i></a>
          <a href="#"><i class="fas fa-suitcase-rolling"></i></a>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="footer d-flex justify-content-around">
        <div class="footer-links ">
          <a href="#"><i class="fas fa-user-circle"></i></a>
          <a href="#"><i class="fas fa-suitcase-rolling"></i></a>
          <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
